<div
  class="modal fade"
  bsModal
  #createEditModal="bs-modal"
  [config]="{ backdrop: 'static' }"
>
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h4>
          {{ blog.id > 0 ? "Edit Blog" : "Add Blog" }}
        </h4>
      </div>
      <form class="modal-body" (ngSubmit)="onSubmit()" #createEditForm="ngForm">
        <div class="form-group row">
          <div class="col-md-3" style="padding-top: 6px">
            <label class="required" for="title">Title</label>
          </div>
          <div class="col-md-9">
            <input type="text" name="title" [(ngModel)]="title" />
          </div>
        </div>
        <div class="form-group row">
          <div class="col-md-3" style="padding-top: 6px">
            <label class="required" for="description">Description</label>
          </div>
          <div class="col-md-8">
            <textarea
              rows="10"
              cols="50"
              name="description"
              [(ngModel)]="description"
            >
            </textarea>
          </div>
        </div>
      </form>
      <div class="modal-footer">
        <button class="btn btn-default" (click)="onCancel()" type="button">
          Cancel
        </button>
        <button class="btn btn-primary" (click)="onSubmit()" type="submit" [disabled]="disableSubmit()">
          {{ blog.id > 0 ? "Update" : "Confirm" }}
        </button>
      </div>
    </div>
  </div>
</div>
